{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"tabWidth": 2,
	"semi": true,
	"printWidth": 150,
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
